<!--The content below is only a placeholder and can be replaced.-->
<ng-http-loader
  [backgroundColor]="'#0e4d92'"
  [debounceDelay]="100"
  [extraDuration]="2000"
  [minDuration]="500"
  [spinner]="spinkit.skCubeGrid">
</ng-http-loader>
<simple-notifications [options]="{position: ['top', 'center'],
                                  animate: 'rotate' ,
                                  showProgressBar: false,
                                  clickToClose: false,
                                  timeOut: 6000}">

</simple-notifications>

<router-outlet>

</router-outlet>
