
  <div class="login-wrap">

    <div class="login-html">
      <div style="font-size: 28px; color: white; text-align: center;padding: 10px;">
      <label>Dozer Restaurant Software </label>
      </div>
      <div style="font-size: 18px; color: white; text-align: center;padding: 10px;">
        <label>Kruzin Park Manager </label>
      </div>
      <br><br>
      <div style="text-align: center;">

      <input id="tab-1" type="radio" name="tab" class="sign-in" style="text-align: center;" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Register</label>
      <div class="login-form">



        <div class="sign-in-htm">
          <br>
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user"
                   [(ngModel)]="phone_number"
                   [ngModelOptions]="{standalone: true}"
                   type="text"
                   class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass"
                   [(ngModel)]="pass"
                   [ngModelOptions]="{standalone: true}"
                   type="password"
                   class="input"
                   data-type="password">
          </div>
          <br>
          <div class="group">
            <button class="button" (click)="signIn()">Sign In</button>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>



        <div class="sign-up-htm">
          <div class="group">
            <label for="user" class="label">Name</label>
            <input id="user"
                   [(ngModel)]="name"
                   [ngModelOptions]="{standalone: true}"
                   type="text"
                   class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Phone Number</label>
            <input id="pass"
                   [(ngModel)]="phone_number"
                   [ngModelOptions]="{standalone: true}"
                   type="password"
                   class="input"
                   data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass"
                   [(ngModel)]="new_password"
                   [ngModelOptions]="{standalone: true}"
                   type="password"
                   class="input"
                   data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Repeat Password</label>
            <input id="pass"
                   [(ngModel)]="password_verify"
                   [ngModelOptions]="{standalone: true}"
                   type="password"
                   class="input"
                   data-type="password">
          </div>
          <div class="group">
            <button class="button" (click)="registerUser()">Register</button>
          </div>
          <div class="hr"></div>
        </div>
      </div>

      </div>
    </div>
  </div>

